body{
  background-color: #cff1ef;
  margin-top: 0;
}


/*  top */
.top{

  width: auto;
  background-color: #ffffff;
  height: auto;
  margin-bottom: 0;
  padding: 2%;
}

.logo{
  display: inline;
  font-family: sans-serif;
  font-size: 3rem;
  font-style: italic;
}

.login{
  float: right;
  margin: 0.7%;
  padding: 0.7%;
  background-color: yellow;
  margin-right: 1.5%;
}
.login:hover
{
   background-color: rgb(0, 233, 250);
   padding: 0.7rem;
   margin: 0.9%;

}
.login1
{
   float: right;
   padding: 0.5rem;
   margin: 0.7%;
   background-color: yellow;
   margin-right: 1.5%;
   position: absolute;
   right: 76px;
   top: 18px;
}
.login1:hover
{
   background-color: rgb(0, 233, 250);
   padding: 0.7rem;
   margin: 0.9%;
}


nav{
  display: flex;
  padding: 20px;
  justify-content: space-around;
  min-height: 3vh;
  background-color:  #be79df;
  align-items: center;
}
.navlinks
{
  position: absolute;
  left: 25px;
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.navlinks li
{
  list-style: none;
}
.navlinks a
{
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 24px;
}
.navitem a :hover{
 background-color: #ac61d4;

}
.burger
{
  display: none;
}
.burger div
{
  width: 25px;
  height: 3px;
  margin: 3px;
  background-color: rgb(247, 247, 247);
}


/*after navbar */

.middle{
  position: relative;
  height:400px;
  width: 100%;
  background-color: #f2f4c0;
}
.middle-topic{
  font-family: sans-serif;
  float: left;
  font-size: 3rem;
  margin: 5% 5%;
}
.middle-image{
 float: right;
 margin: 3%;
 display: block;
}
.middle-text{
  font-weight: bold;
  position: absolute;
  background-color: #e6e6e6;
  padding: 2%;
  top: 8rem;
  left:11%;
  line-height: 2.5rem;
}
.resume{
  margin: 4%;
}
.resume-topic{
  display: inline;
  margin: 15%;
  font-size: 2.4rem;
  font-family: sans-serif;

}
.resume-button{
  font-size: 2rem;
  background-color: yellow;
  transition: 0.3s ease-in-out;
}
.resume-button:hover
{
  background-color: rgb(158, 55, 149);
  box-shadow: 2px 5px 20px rgb(70, 59, 59);
  color: white;
}


/*cards*/
.cards{
  margin: 2%;
  position: relative;
  height: 20rem;
  width: 100%;
  font-family: sans-serif;
}
.cards .card1 h2{
  opacity: 1;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}
.cards .card1:hover h2{
  opacity: 0;
}


.cards .card2 h2{
  opacity: 1;
  transition: 0.3s ease-in-out;

}
.cards .card2:hover h2{
  opacity: 0;
}


.cards .card3 h2{
  opacity: 1;
  transition: 0.3s ease-in-out;

}
.cards .card3:hover h2{
  opacity: 0;
}


.cards .card1 p
{
  position: absolute;
  top: 11px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.cards .card1:hover p
{
  color: whitesmoke;
  opacity: 1;
  font-weight: bold;
  margin: 4%;
}


.cards .card2 p
{
  position: absolute;
  top: 11px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.cards .card2:hover p
{
  color: whitesmoke;
  opacity: 1;
  font-weight: bold;
    margin: 2%;
}


.cards .card3 p
{
  position: absolute;
  top: 11px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.cards .card3:hover p
{
  opacity: 1;
  color: whitesmoke;
  font-weight: bold;
    margin: 2%;
}


.card1{
  position: absolute;
  margin: 5%;
  height: 7rem;
  width: 10rem;
  background-color: #be79df;
  padding:4% 4%;
}
.card2{
  position: absolute;
  left:30%;
  margin: 5%;
  height: 7rem;
  width: 10rem;
  background-color: #be79df;
  padding:4% 5%;
}
.card3{
  position: absolute;
  left:60%;
  margin: 5%;
  height: 7rem;
  width: 10rem;
  background-color: #be79df;
  padding:4% 5%;
}
.fas{
  font-size: 3rem;;
}
.fa, .fas{
  position: absolute;
  left: 37%;
}

.cards .card1 .fas{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.cards .card1:hover  .fas{
  opacity: 0;
}

.cards .card2 .fas{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.cards .card2:hover  .fas{
  opacity: 0;
}
.cards .card3 .fas{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.cards .card3:hover  .fas{
  opacity: 0;
}

/*freelancing*/
.freelance-topic{
  margin: 2% 30%;
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 100;
}
.skill{
  font-size: 2rem;
  margin: 2% 2%;
  background-color: #fbf6f0;
  margin-left: 57%;
}
.skill-button{
  font-size: 1.5rem;
  background-color: yellow;
  transition: 0.3s ease-in-out;
}
.skill-button:hover
{
  background-color: rgb(158, 55, 149);
  box-shadow: 2px 5px 20px rgb(70, 59, 59);
  color: white;
}

/* top projects*/
.top-project{
  font-family: sans-serif;
  margin-left: 5%;
}

.card{
  background-color: #ffda77;
  margin:4% 8%;
  font-family: sans-serif;
  padding: 3%;

}
.card-button{

  font-size: 1.5rem;
  background-color: red;
  margin: 0 40%;
  transition: 0.3s ease-in-out;
}
/* appy button hover effect */
.card-button:hover
{
    background: yellow;
    box-shadow: 5px 2.5px  9px rgba(184, 88, 11, 0.8);
    transform: translateY(90deg);
}
.more{
  margin: 2% 42%;
  font-size: 1.5rem;
  background-color: #ffa45b;
  transition: 0.3s ease-in-out;

}
.more:hover
{
    background: yellow;
    box-shadow: 5px 2.5px  9px rgba(184, 88, 11, 0.8);
    transform: translateY(90deg);
}

/*  jobs section   */
.filter{
  margin: 5%;
  font-size: 1.3rem;
  background-color: #fbf6f0;
}

/* social media icons*/

.fab{
  font-size: 3rem;
  margin: 3%;
}
.fas{
  float: right;
  font-size: 3rem;
  margin: 3%;
}


@media (max-width:1150px)
{
 .navlinks a
 {
   font-size: 17px;
   margin:2%;
 }
}


@media (max-width:980px)
{
  .logo h1{
    font-size: 1.5rem;
  }
  .login{
    padding: 0.2rem;
    margin: 0.3%;
  }
  .login1{
    padding: 0.2rem;
    margin: 0.3%;
  }
  .navlinks{
    left:70px;
  }
  .navlinks a
  {
    font-size: 15px;
    margin:2%;
  }
  .navlinks li{
    margin-left:2%;
    margin-right: 2%;
  }
}

@media (max-width:620px)
{
  .logo h1{
    font-size: 1.2rem;
    top:10px;
  }
  .login{
    padding: 0;
    margin: 0.0;
    top:10px;
  }
  .login1{
    padding: 0.0;
    margin: 0.0;
    top:10px;
  }
  .navlinks
  {
    left:90px;
  }

  .navlinks a
  {
    font-size: 13px;
    padding-left: 28%;
    font-weight: bolder;

  }
  .navlinks li{
    margin-left:3%;
    margin-right: 3%;


  }
}
